Makefile
Makefile.in
mkinstalldirs
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.status.lineno
config.rpath
config.sub
configure
configure.lineno
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

/tmp*

*.o
*.lo
*.a
*.la
*.deps
*.libs
*.exe
*~
*.swp

src/mpd_oled
scripts/mpd_oled_service_install
